@font-face {
  font-family: 'FutoGoB101Pro';
  src: url('fonts/A-OTF-FutoGoB101Pro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  position: relative;
  font-family: 'FutoGoB101Pro';
  background: linear-gradient(rgba(3, 3, 3, 0.56), rgba(0, 0, 0, 0.56)),
              url('./images/24181031_m.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

/* Global Utility Classes */
.border-bottom {
  border-bottom: 1px solid black;
  width: 100%;
}

#red-text {
  color: red;
}

.center-text {
  text-align: center;
}

.margin-top {
  margin-top: 4px;
}

.margin-bottom-none {
  margin-bottom: 0;
  padding-bottom: 0;
}

.margin-top-none {
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, p, a {
  font-family: 'FutoGoB101Pro';
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Typography */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.1em;
  }
  p, a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3, p {
    font-size: 1em;
  }
  a {
    font-size: 0.8em;
  }
}

/* Banner Section */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@supports (-webkit-overflow-scrolling: touch) {
  .banner {
    background-attachment: scroll; /* Fix for iOS Safari */
  }
}

.banner-content {
  max-width: 90%;
  width: 100%;
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  position: absolute;
  top: 2%;
  margin-top: -24;
  font-size: 2vw;
  line-height: 1.2;
  text-align: center;
}

.welcome-content {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position:relative;
  top:42%;
  left: 16%; */
  max-width: 300px;
  text-align: center;

}
.flex-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position:relative;
  top:44%;
  right: 14%; */
  max-width: 300px;
  text-align: left;
}

/* Responsive Adjustments for Banner */
@media only screen and (max-width: 780px) {
  .banner-content {
    padding: 10px;
  }
  .header-text {
    font-size: 3vw;
  }
  .welcome-content {
    position: relative;
    bottom:-20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

}

/* Main Container */
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
  margin: 0 auto;
  margin-top: 8px;
  background-color: rgba(81, 80, 80, 0.61);
}

.section-content {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(169, 169, 169, 0.61);
}

/* Responsive Main Content */
@media only screen and (max-width: 767px) {
  .main-container {
    max-width: 400px;
    margin-top: 12px;
  }
}

/* Profiles Section */
.profile-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.profile-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
     -ms-flex-pack: center;
         justify-content: center;


  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid #333;
 }



 /* Small screens (mobile devices) */
 @media (max-width: 767px) {
  .profile-list li {
    padding: 6px 3px; /* Adjust padding for mobile devices */
    font-size: 14px; /* Adjust font size for mobile */
  }
 }




 .profile-list li:last-child {
  border-bottom: none; /* Remove border from the last item */
 }


 .left-text {
  max-width: 300px;
  width: 100%;
 }




 .right-text {
  max-width: 600px;
  width: 100%;


 }




 .history-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
         justify-content: flex-start;
  margin-bottom: 5px; /* Space between history entries */
 }


 /* Medium screens (tablets) */

 /* Small screens (mobile devices) */
 @media (max-width: 767px) {
  .history-entry {
    margin-bottom: 10px; /* Increase margin for mobile devices */
    font-size: 14px; /* Adjust font size for mobile */
  }
 }


 .year {
  max-width: 60px;
  width: 100%; /* Fixed width for the year */
  font-weight: bold; /* Bold for visibility */
 }


 .accomplishment {
  max-width: 300px;
  width: 100%;
 }


/* Footer */
.footer-content {
  max-width: 40%;
  width: 100%;
  text-align: center;
  padding: 20px;
  color:black;
}

.click-me {
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 0, 0);
  border-radius: 20px;
  padding: 4px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .footer-content {
    max-width: 360px;
  }
}
